<!-- Possible grid classes: grid-cols-3 grid-cols-5 grid-cols-7 grid-cols-9 -->
<!-- Possible span classes: col-span-3 col-span-5 col-span-7 col-span-9 -->
<% columns = (game.players.size * 2) + 1 %>
<%= turbo_stream_from game %>
<div id="<%= dom_id game %>" class="my-8">
  <h1 class="mb-8 text-2xl font-bold text-center">
    <%= game.name %>
  </h1>
  <%= form_with(model: game, data: { controller: "game-input", game_input_target: "form"}) do |form| %>
    <div class="grid grid-cols-<%= columns %>">
      <div></div>
      <% game.players.each do |player| %>
        <p class="col-span-2 text-center truncate">
          <%= player.name %>
        </p>
      <% end %>
      <%= render "color_round", form: form, game: game, color: "blue", round: 1 %>
      <hr class="col-span-<%= columns %>">
      <%= render "color_round", form: form, game: game, color: "blue", round: 2 %>
      <%= render "color_round", form: form, game: game, color: "green", round: 2 %>
      <hr class="col-span-<%= columns %>">
      <%= render "color_round", form: form, game: game, color: "blue", round: 3 %>
      <%= render "color_round", form: form, game: game, color: "green", round: 3 %>
      <%= render "color_round", form: form, game: game, color: "gray", round: 3 %>
      <%= render "color_round", form: form, game: game, color: "pink", round: 3 %>
      <div></div>
      <% game.scores.each do |player, score| %>
        <div class="col-span-2 text-lg font-semibold text-center" id="player-<%= player.id %>-score">
          <%= score %>
        </div>
      <% end %>
    </div>
    <div class="hidden">
      <%= form.submit 'Calculate Score' %>
    </div>
  <% end %>
</div>
