<!DOCTYPE html>
<html>
  <head>
    <title>ohanami.app Score Tracker - Easily Calculate Your Ohanami Score Sheet</title>
    <meta name="description" content="Streamline your Ohanami gaming experience with our ohanami.app Score Tracker. This intuitive app allows players to easily track scores, manage card sets, and view round-by-round progress for each player. Perfect for enhancing your Ohanami game nights!">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    <%= content_for :head %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
